<div class="row text-center not">
  <div ng-show="isThereMail">
    <img src="images/MailIcon.png" alt="Someone is playing"></img>
    <p>You've got mail!</p>
  </div>

  <div ng-hide="isThereMail">
    <img src="images/NoMailIcon.png" alt="Table is Free"></img>
    <p class="roboto-title">Sorry, No mail :(</p>
  </div>

  
</div>

<h3 class="roboto-title"></h3>
<h4 class="roboto-subtitle">The Mail Project</h4>

<div class="roboto">
  <p>Built by Shervin Shaikh & Yogesh Moorjani <br/> in 3 hrs!</p>
</div>